<html>
  <head>
    <title>Calvin</title>
</head>
  <body>
    <SCRIPT>
    function stream() {
        window.open('stream.html')
    }
    function available() {
        window.open('available.html')
    }
    function sendDM() {
        window.open('sendDM.html')
    }
    </SCRIPT>
    <CENTER>
        <h1 align = "center", id="hello_">Hello ^_^</h1>

        <h3 align = "center", id="imcalvinpersonalassistanttoakhilrajbaranwal">I'm Calvin, personal assistant to Akhil Raj Baranwal.</h3>

        <h3 align = "center", id="howmayihelpyou">How may I help you?</h3>

        <FORM>
            <input type="button" value="Check Availability" onClick="available()"><br><br>
            <input type="button" value="Send Direct Message" onClick="sendDM()"><br><br>
            <input type="button" value="Watch Stream" onClick="stream()">
        </FORM>
    </CENTER>
  </body>
</html>
